.posts {
    list-style: none;
    max-width: 70rem;
    margin: 1rem auto;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
    justify-content: center;
  }
 